.title-container {
  margin-top: 50px;
  margin-left: 109px;
  color: #043873;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 100px; /* Add margin on left and right */
  margin-top: 15px;
  margin-bottom: 100px;
}

.card {
  margin: 10px;
  border: 0;
  box-shadow: 0 4px 8px rgba(4, 1, 167, 0.1); 
  cursor: pointer;
}

.card_img {
  width: 100%; 
  object-fit:cover;
  height: 150px;
}

.categoria{
  color: #97BFFF;
}

.card .btn {
  position: absolute; 
  bottom: 0px; 
  right: 0px; 
  color: #DFFF85;
  background-color: #043873;
  font-weight: bold;
  border: none;
  border-radius: 0;
  border-bottom-right-radius: 5px; 
}

.btn-price{
  margin-right: 50px;
}


.card-body {
  height: 130px; 
}

.carousel-container {
  margin-bottom: 100px;
}

.carousel-item .row {
  display: flex;
  align-items: stretch;
}

.carousel-item .col-md-12 {
  display: flex;
}

.carousel-item .col-md-8,
.carousel-item .col-md-4 {
  display: flex;
  flex-direction: column;
}

.carousel-item .col-md-8 img {
  height: 100%;
  object-fit: cover;
}

.description {
  background-color: #043873;
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.shopping .md-outline-shopping-cart {
  font-size: 2.5rem; /* Adjust the size as needed */
  vertical-align: middle;
}

.price {
  position: absolute;
  bottom: 0;
  right: 4rem; /* Adjust this value to position the price */
  margin: 0;
  padding: 0.5rem;
  background-color: #1161BF;
  color: white;
}

/* Adjust the button styles */
.shopping {
  position: absolute;
  bottom: 0rem; /* Adjust the vertical position */
  right: 0rem; /* Adjust the horizontal position */
  background-color: #97BFFF !important;
  border: none;
  border-radius: 0;
  border-bottom-right-radius: 5px;
}
