.custom-carousel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px auto; /* This will center the container horizontally */
    max-width: 80%; /* Adjust as needed */
  }
  
  .category {
    padding-right: 20px;
    color: #97BFFF;
    font-weight: 600;
  }
  
  .carousel-content {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Ensure all children stretch to the same height */
    width: 100%;
    position: relative;
  }
  
  .carousel-content .main-image {
    width: 60%; /* Adjust width as needed */
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .carousel-description {
    width: 40%; /* Adjust width as needed to fit the remaining space */
    background-color: #043873;
    color: white;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .price-cart {
    position: absolute;
    bottom: 0px; 
    right: 0px; 
    display: flex;
    align-items: center;
    background-color: #97BFFF;
    border-bottom-right-radius: 10px;
    padding: 15px 20px; 
  }
  
  .price {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .cart-button {
    background: none;
    border: none;
    font-size: 1.5rem; /* Adjust size as needed */
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
  }
  
  .cart-button:hover {
    color: #043873; /* Adjust the hover color as needed */
  }
  
  .thumbnail-slider {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100%;
  }
  
  .thumbnail-slider img {
    cursor: pointer;
    margin-right: 10px;
    width: 100px; 
    height: auto;
    border: 2px solid transparent;
  }
  
  .thumbnail-slider img.active {
    border: 2px solid #007bff;
  }
  