/* Navbar.css */
.navbar-container {
  width: 100%;
  position: fixed; /* Fix the navbar at the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure navbar stays above other elements */
  background-color: transparent;
}

.navbar-content {
  width: 100%; /* Full width */
  margin: 0 auto; /* Center the navbar */
}

.top-nav {
  display: flex;
  justify-content: space-between; /* Space between elements */
  align-items: center;
  background-color: #164375; /* Light blue background */
  padding: 5px 20px;
}

.welcome-text {
  color: #fff; /* White text color */
  white-space: nowrap; /* Prevent line breaks */
}

.logout-link {
  margin-left: 20px;
  color: #fff; /* White text color */
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  width: 100%;
}

.nav-links a,
.logout-link {
  margin-left: 20px;
  color: #fff; /* White text color */
  text-decoration: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; /* White background */
  padding: 10px 20px;
  border-bottom: 3px solid #164375; /* Blue outline */
  border-bottom-left-radius: 10px; /* Round bottom corners */
  border-bottom-right-radius: 10px; /* Round bottom corners */
}

.nav-left, .nav-center, .nav-right {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
}

.search-bar {
  display: flex;
  margin: 0 auto; /* Center the search bar */
}

.search-bar input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #fff; /* White search button */
  color: #164375; /* Blue text for search button */
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: rgba(22, 67, 117, 0.1);
}

.nav-right {
  margin-left: auto; /* Move icons to the right corner */
}

.nav-icon {
  color: #164375; /* Icon color */
  font-size: 2rem; /* Increased icon size */
  margin-left: 20px;
  cursor: pointer;
}

.nav-icon:hover {
  color: rgba(22, 67, 117, 0.7);
}

.cart-icon-container {
  position: relative;
}

.cart-icon {
  color: #164375; /* Cart icon color */
  font-size: 2rem; /* Increased icon size */
  margin-left: 20px;
  cursor: pointer;
}

.cart-icon:hover {
  color: rgba(22, 67, 117, 0.7);
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #164375;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}

.cart-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px; /* Increased width for better fit */
  z-index: 1000;
}

.cart-items {
  max-height: 300px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.remove-item-btn {
  background-color: #ccc;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.remove-item-btn:hover {
  background-color: #b3b3b3;
}

.cart-total {
  padding: 10px;
  text-align: right;
  font-weight: bold;
}

.clear-cart-btn {
  background-color: #00aaff;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 5px; /* Add some margin for spacing */
}

.checkout-btn {
  background-color: #164375;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 5px; /* Add some margin for spacing */
}

.clear-cart-btn:hover {
  background-color: #007acc;
}

.checkout-btn:hover {
  background-color: #002f5d;
}

/* Menu Lateral */
.menu-lateral {
  width: 250px;
  background-color: #043873;
  color: #fff;
  overflow-y: auto;
  position: fixed;
  top: 105px; /* Ajuste a posição abaixo da Navbar */
  left: 0;
  height: calc(100% - 60px); /* Ajuste a altura para não sobrepor a Navbar */
}

.menu-lateral ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.menu-lateral ul li {
  position: relative;
}

.menu-lateral ul li a,
.menu-lateral ul li {
  display: block;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.menu-lateral ul li a:hover,
.menu-lateral ul li:hover {
  background-color: #97BFFF;
  border-radius: 10px;
}

.menu-lateral ul li ul {
  display: none;
  list-style-type: none;
  padding-left: 0; /* Remova o padding adicional */
}

.menu-lateral ul li .submenu.open {
  display: block;
}

.menu-lateral ul li ul li a {
  padding: 10px 20px; /* Adicione um padding para diferenciar os subitens */
  color: #ddd;
}

.menu-lateral ul li ul li a:hover {
  background-color: #8bb5fa;
}

.menu-item {
  margin-left: -28px;
}

.icon {
  margin-right: 10px;
  font-size: 1.5rem; /* Increased icon size */
}

.menu-text {
  font-size: 1.2rem; /* Increased text size */
}
