.navbar-container {
  width: 100%;
  position: fixed; /* Fix the navbar at the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure navbar stays above other elements */
  background-color: transparent;
}

.navbar-content {
  width: 80%; /* Adjust to desired width */
  max-width: 1200px; /* Set a maximum width */
  margin: 0 auto; /* Center the navbar */
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  background-color: #164375; /* Light blue background */
  padding: 5px 20px;
}

.top-nav a {
  margin-left: 20px;
  color: #fff; /* White text color */
  text-decoration: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; /* Darker blue background */
  padding: 10px 20px;
  border-bottom-left-radius: 10px; /* Round bottom corners */
  border-bottom-right-radius: 10px; /* Round bottom corners */
}

.nav-left, .nav-center, .nav-right {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
}

.search-bar {
  display: flex;
  margin: 0 auto; /* Center the search bar */
}

.search-bar input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #fff; /* White search button */
  color: #164375; /* Blue text for search button */
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.nav-right {
  margin-left: auto; /* Move icons to the right corner */
}

.cart-icon-container {
  position: relative;
}

.cart-icon {
  margin-left: 20px;
  color: #164375; /* White cart icon color */
  text-decoration: none;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #164375;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}

.cart-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 1000;
}

.cart-items {
  max-height: 300px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #c82333;
}

.cart-total {
  padding: 10px;
  text-align: right;
  font-weight: bold;
}

.clear-cart-btn, .checkout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.clear-cart-btn svg, .checkout-btn svg {
  margin-right: 5px;
}

.clear-cart-btn:hover, .checkout-btn:hover {
  background-color: #c82333;
}
